body,html{
    margin: 0;
    padding: 0 ;
    
}

.header{
    width : 100% ;
    display: flex;
    justify-content: center;
    color : black;
    background-color: white;
    font-family: "Playfair Display", sans-serif; 
}
 
.header h1 {
    position: absolute;
    margin-top: 1px;
    
}




.top-section-wrapper{
    overflow: hidden;
    padding-left: 30px;
    padding-right: 16px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700 ;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    background-color: #363A57;
}

.top-section-heading{
    color: hsl(180, 50%, 50%);
    font-size: 4rem;
    margin-top: 50px;
    line-height: 97.3% ;
    padding-left: 7%;
    
}
.heading-description{
    line-height: 169.3%;
    margin: 1rem 0;
    max-width: 935px;
  
}

.our-btns{
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    padding:13px 25px;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 0%;
}
    

.first-btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-right: 15px;
}


.second-btn{
    display: inline-block;
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-right: 15px;
}

.top-btns{
    margin-left: 80%;
    margin-top: .30%;
}

.login-btn{
    background-color: transparent;
    color: black;
    padding: 14px 24px 14px 24px;
    margin-right: 15px;
    border: 1px ;
    margin-bottom: 1px ;
}

.cart-btn{
    background-color: transparent;
    color: black;
    padding: 14px 24px 14px 24px;
    margin-right: 15px;
    border: 1px;
    margin-bottom: 1px ;
}

.bottom-heading {
    font-size: 4rem;
    margin-top: 50px;
    line-height: 97.3% ;
    padding-left: 7%;
}

.bottom-section-wrapper{
    background-color: wheat;
    overflow: hidden;
    font-family: "Playfair Display", sans-serif;
}