body,html{
    margin: 0;
    padding: 0 ;
    
}

.top-section-wrapper{
    overflow: hidden;
    padding-left: 30px;
    padding-right: 16px;
    object-position: 0%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700 ;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    background-image: url(images/background-image.jpg.jpg);
  
}

.top-section-heading{
    color: wheat;
    font-size: 4rem;
    margin-top: 50px;
    line-height: 97.3% ;
    padding-left: 7%;
    
}
.heading-description{
    line-height: 169.3%;
    margin: 1rem 0;
    max-width: 635px;

   
}

.our-btns{
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    padding:13px 25px;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
    

.first-btn {
    display: inline-block;
    background-color: black;
    color: white;
    border: 1px solid ;
    padding: 0px 20px 1px 25px;
    font-family: 'open+sans';
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
   margin-top: 2%;
}

.second-btn{
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid ;
    padding: 1px 20px 1px 25px;
    font-family: 'open+sans';
    text-align: center;
    text-decoration: none;
    border-radius: 5%;

}

.top-btns{
    margin-left: 80%;
    margin-top: .30%;
}

.login-btn{
    background-color: #42687C;
    color: black;
    padding: 14px 24px 14px 24px;
    margin-right: 15px;
    border: 1px ;
    border-radius: 13%;
}

.cart-btn{
    background-color: #84A5B8;
    color: black;
    padding: 14px 24px 14px 24px;
    margin-right: 15px;
    border: 1px;
    border-radius: 13%;
}



